<div class="demo k-m-5">
  <kendo-card class="card">
    <kendo-card-body class="card-body">
      <h4 class="header" >{{data?.title}}</h4>
      <h5 class="subtitle" >name</h5>
      <div>
        <hr kendoCardSeparator />
        <div class="recipe-wrap">
          {{(readMore) ? data?.description : data?.description | slice:0:100}} <span *ngIf="!readMore">...</span>
        </div>
      </div>
    </kendo-card-body>
    <kendo-card-actions class="action-bar"  >
      <div style="padding: 0">
        <button class="k-button k-flat" (click)="showMore()"  >
          {{(!readMore) ? 'SHOW MORE':'SHOW LESS'  }}
        </button>
      </div>
    </kendo-card-actions>
  </kendo-card>
</div>